body {
  background-image: url(../css/images/post2.jpg);
  background-size: cover;
  background-size: 100vw;
  background-repeat:repeat-x;
  background-position: center;
}
.container {
  background-color: rgba(148, 148, 148, 0.7);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.container label {
  color: black;
}

#ingredients-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#ingredients-list input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

#ingredients-list select[name="quantities[]"] {
  width: 100px;
  margin-right: 10px;
}

#ingredients-list select[name="units[]"] {
  width: 100px;
  margin-right: 10px;
}
