body {
  background-image: url(../css/images/post2.jpg);
  background-size: cover;
  background-size: 100vw;
  background-repeat: repeat-x;
  background-position: center;
}
.container {
  background-color: rgba(148, 148, 148, 0.2);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 2px solid white;
  box-shadow: 2px 2px 5px 2px rgba(200, 200, 200, 0.3);
}
.container label {
  color: rgb(0, 0, 0);
}

#ingredients-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#ingredients-list input[type="text"] {
  flex: 1;
  margin-right: 10px;
}

#ingredients-list select[name="quantities[]"] {
  width: 100px;
  margin-right: 10px;
}

#ingredients-list select[name="units[]"] {
  width: 100px;
  margin-right: 10px;
}

#instructions-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#instructions-list input[type="text"] {
  flex: 1;
  margin-right: 10px;
}
#tags-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
#tags-list input[type="text"] {
  flex: 1;
  margin-right: 10px;
}
