body {
  background-image: url(../css/images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
body h1 {
  color: white;
}

.edit-profile {
  color: white;
}
.edit-profile button a{
  text-decoration: none;
  color: black;
}
