body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-image: linear-gradient(135deg, #eaaf31, #d3d3d3);
  overflow: hidden;
  height: 80px;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .logo {
  float: left;
  padding: 5px;
}

.navbar .profilePic {
  float: right;
}
.profilePic img {
  height: 50px;
  width: 50px;
}

.dropdown {
  float: left;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  margin-left: 250px;
  width: 500px;
  margin-top: 15px;
  text-align: center;
  border-radius: 25px;
  height: 50px;
}
.dropdown img {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 6%;
  right: 480px;
  transform: translateY(-50%);
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-top: 2px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffd16d;
  min-width: 160px;
  z-index: 1;
  left: 46%;
  transform: translateX(-50%);
  border-radius: 10px;
}

.dropdown-content a {
  float: none;
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #feecc4;
  color: black;
  border-radius: 10px;
}

.show {
  display: block;
}
.searchBar {
  display: none;
  margin-top: 5px;
  margin-right: 100px;
}
.searchBar input[type="text"] {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 150px;
}

.searchBar button {
  background-color: #e3bd6a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searchBar button:hover {
  background-color: #eaaf31;
}

.searchActive {
  float: left;
}

.container {
  display: grid;
  grid-template-columns: 280px auto;
  height: 81vh;
}
.container hr {
  border-color: #ffa500;
  margin: 0 auto;
  width: 90%;
}

.content {
  padding: 20px;
  overflow-y: auto;
}
.side-panel {
  width: 250px;
  background-color: rgb(210, 201, 185);
  padding: 15px;
  position: sticky;
  height: 79vh;
  transition: transform 0.3s ease;
  overflow-y: auto;
  border-radius: 15px;
  margin: 15px;
}
.side-panel::-webkit-scrollbar {
  width: 5px; /* Set the width of the scrollbar */
}

.side-panel::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

.side-panel::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3); /* Set the color of the scrollbar thumb */
  border-radius: 10px; /* Optional: Set border radius for the thumb */
}

.side-panel h2 {
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  text-decoration: underline;
  align-items: center;
  justify-content: center;
  display: flex;
}
.panel-content {
  padding: 10px;
  border-radius: 10px;
  background-color: beige;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.panel-content img {
  height: 30px;
  width: 30px;
}
.panel-content select {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ffa500;
  background-color: transparent;
  color: #040300;
  margin-bottom: 20px;
}

.panel-content select option {
  font-size: 16px;
  background-color: #fffdfa;
  color: #000000;
}

.panel-content select::-ms-expand {
  display: none;
}

.panel-content select::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.first-row {
  background-image: url(../css/images/cuisine-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  height: 130px;
  background-color: #ffffff;
  margin-left: 15px;
  border-radius: 15px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}
.first-row h2 {
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: baseline;
  font-family: "Briem Hand", cursive;
  font-weight: 500;
  text-decoration: underline;
  color: rgb(0, 0, 0);
}
.first-row img {
  height: 50px;
  width: 50px;
}
.main-recipe {
  margin-top: 20px;
  padding: 20px;
  margin-left: 20px;
  height: auto;
  background-color: #eeeeee;
}
.popular-tags {
  display: flex;
  flex-wrap: wrap;
}

.popular-tags button {
  margin: 2px;
  padding: 6px 15px;
  background-color: #ffa500;
  color: #000000;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Roboto Slab", serif;
}

.popular-tags button:hover {
  background-color: #ff8c00;
}
.cuisines-line button {
  font-family: "Roboto Slab", serif;
  margin: 5px;
  padding: 13px 19px;
  background-color: #eaaf31;
  color: #000000;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cuisines-line button:hover {
  background-color: #ffa500;
}

.second-row-favourites {
  padding: 10px;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 20px;
  height: auto;
  background-color: #eeeeee;
}
.second-row-favourites {
  margin-bottom: 20px;
}

.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  width: auto;
}

.product-container {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  padding: 5px;
  min-width: 230px;
  max-width: 25%;
  height: 400px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  flex: 0 0 calc(0% - 15px);
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
  border-radius: 10px;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  margin-top: -5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 600px) {
  .navbar a {
    padding: 5px;
  }

  .navbar .logo img {
    max-width: 90px;
    max-height: 45px;
    margin-top: 15px;
    margin-right: 10px;
  }
  .dropdown .dropbtn {
    font-size: 12px;
    padding: 5px 5px;
    margin-top: 12px;
    margin-right: 0px;
  }
  .searchBar {
    display: none;
    margin-top: 5px;
    margin-left: 100px;
  }
  .searchBar input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 10px;
    width: 50px;
    margin-left: -50px;
    margin-right: 0px;
    font-size: 12px;
  }

  .searchBar button {
    background-color: #c28df8;
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50px;
    margin-top: -50px;
    margin-right: -100px;
    margin-left: 12px;
    font-size: 10px;
  }

  .profilePic {
    float: right;
    margin-top: -55px;
  }

  .dropdown {
    display: block;
    float: none;
    margin-top: 15px;
    width: 220px;
    margin-left: 50px;
  }

  .dropdown-content {
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
  }
  .search-Image {
    display: none;
  }
}
