body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* Webkit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 10px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.navbar {
  background-image: url(images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 80px;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .logo {
  float: left;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  display: grid;
  grid-template-columns: 250px auto;
  height: 81vh;
}
.content {
  padding: 20px;
  overflow-y: auto;
}
.first-row {
  display: flex;
  align-items: center;
  height: 150px;
}

.statistics {
  display: flex;
}

.statistics > div {
  margin-right: 20px;
}

.create-a-post {
  margin-left: auto;
}

.second-row-favourites,
.third-row-recent {
  height: 300px;
}
.first-row,
.second-row-favourites,
.third-row-recent {
  margin-bottom: 20px;
}

.side-panel {
  width: 200px;
  background-color: #eddbff;
  padding: 20px;
  position: sticky;
  height: 81vh;
  transition: transform 0.3s ease;
  overflow-y: auto;
}

.side-panel.show {
  transform: translateX(0);
}
.side-panel-btn {
  display: none;
}
.side-panel-info {
  margin-top: 90px;
}

.panel-content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user-info {
  display: flex;
  margin-top: 10px;
  font-weight: bolder;
}
.user-info-number {
  display: flex;
  margin-top: 5px;
  font-weight: bolder;
}
.user-num {
  margin-left: 35px;
}
.user-rum {
  margin-left: 80px;
}
.user-name,
.user-role {
  padding: 5px;
}

.user-name {
  margin-right: 10px;
}

.panel-content img {
  width: 150px;
  height: 130px;
  display: block;
}
.profile-pic {
  border-radius: 150px;
  height: 130px;
  width: 140px;
  overflow: hidden;
  margin-bottom: -100px;
}

.panel-content p {
  text-align: center;
}

.panel-content button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  background-color: #b4b4b4;
  color: rgb(0, 0, 0);
  cursor: pointer;
  height: 45px;
  border-radius: 15px;
  font-size: 20px;
}
.panel-content a {
  text-decoration: none;
}

.panel-content button:hover {
  background-color: #717171;
}

@media screen and (max-width: 600px) {
  .content {
    width: 41.5vh;
  }
  .side-panel {
    transform: translateX(-200px);
    position: fixed;
    left: 0;
    z-index: 1000;
    width: 80px;
    height: 85.2vh;
    width: 85px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  .side-panel-btn {
    display: block;
    background-color: transparent; 
    border: none;
    color: #ffffff; 
    font-size: 16px; 
    cursor: pointer; 
  }

  .panel-content button {
    display: block;
    width: 80%;
    padding: 6px;
    margin-top: 10px;
    border: none;
    background-color: #b4b4b4;
    color: rgb(0, 0, 0);
    cursor: pointer;
    height: 35px;
    border-radius: 15px;
    font-size: 13px;
    width: 100px;
    margin-left: 15px;
  }
  .panel-content button:hover {
    background-color: #717171;
  }
  .panel-content img {
    width: 100px;
    height: 100px;
    display: block;
  }
  .profile-pic {
    border-radius: 150px;
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin-bottom: -100px;
  }

  .user-info {
    display: flex;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 12px;
  }
  .user-info-number {
    display: flex;
    margin-top: 5px;
    font-weight: bolder;
  }
  .user-num {
    margin-left: 35px;
  }
  .user-rum {
    margin-left: 50px;
  }
  .user-name {
    margin-left: 3px;
  }
  .user-role {
    margin-left: -15px;
  }
}
