/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  background-image: url(images/2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .logo {
  float: left;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar img {
  height: 50px;
  width: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.recipe {
  width: 60%;
  margin-left: 60px;
}

.creator-info {
  width: 25%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.rating {
  margin-bottom: 20px;
}

.stars {
  color: orange;
}

.comment {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}
/* styles.css */

.stars {
  margin-bottom: 20px;
}

.star {
  font-size: 24px;
  cursor: pointer;
}

.star:hover,
.star.rated {
  color: orange;
}
